.DS_Store
node_modules
output
public-dist
$__StoryList.tid
StoryList.tid
settings/settings.json
tiddlers/subwiki/

# ignore some change from plugin that will only change "modified" field
$__keepstate_*

$__Import.tid
$__plugins_felixhayashi_tiddlymap_misc_defaultViewHolder.tid
$__themes_tiddlywiki_vanilla_metrics_sidebarwidth.tid
$__view.tid
Have fun with.tid
TiddlyMap!!.tid
$__config_Navigation_openLinkFromInsideRiver.tid
$__config_Navigation_openLinkFromOutsideRiver.tid
tiddlers/$__UpgradeLibrary.json
tiddlers/$__UpgradeLibrary.json.meta
tiddlers/$__plugins_linonetwo_commandpalette_CommandPaletteHistory.json
tiddlers/$__plugins_linonetwo_commandpalette_CommandPaletteHistory.json.meta
