footer {
	flex: 1 1 auto;
	display:flex !important;
	justify-content:center;
	align-items: center;
	z-index:-1;
	min-height:25px;
	color: gray;
	user-select: none;
	padding: 2px;
	font-family: 'JetBrains Mono';
	font-size: 50%;
}


/**
.tc-body{
height:100vh;
display: flex;
flex-direction: column;
padding:0;
}
*/

footer .inline-icon svg{
height:1em;
}