/* 快速嵌入卡片 */
.mtransclude {
  font-size: .8em;
}
.mcard {
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9em;
  box-shadow: #cbcbcb 2px 2px 6px 1px;
  /*transition: box-shadow 400ms ease-in-out;*/
}

.mcard h2 {
  display: flex;
  margin-top: 0;
}