name: 部署 Tiddlywiki 静态页面到 Github Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '16'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: 安装 NodeJS 依赖
        run: npm install
      - name: 构建在线版本网页
        run: npm run buildonline
      - name: Workbox 离线缓存
        run: npx workbox injectManifest workbox-config.js
      - name: 构建插件库
        run: npm run buildlibrary

      - name: 部署
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public-dist
